<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ecnu.damai.dao.mapper.ShowMapper">
    <select id="findShowWithFilters" resultType="cn.ecnu.damai.entity.Show">
        SELECT id         AS showId,
               name,
               time,
               program_id AS programId
        FROM `show`
        WHERE name like concat('%', #{keyWord}, '%')
    </select>


    <select id="getShowList" resultType="cn.ecnu.damai.entity.Show">
        SELECT id         AS showId,
               name,
               time,
               program_id AS programId
        FROM `show`
        WHERE program_id = #{programId}
    </select>

    <insert id="addShow">
        INSERT INTO `show`(name, time, program_id)
        VALUES (#{name}, #{time}, #{programId})
    </insert>

    <select id="findShowById" resultType="cn.ecnu.damai.entity.Show">
        SELECT id         AS showId,
               name,
               time,
               program_id AS programId
        FROM `show`
        WHERE id = #{showId}
    </select>
</mapper>